<header class="bg-[#131b28] text-white">
    <div class="max-w-[1200px] mx-auto flex items-center justify-between">
        <div class="flex items-center gap-6 p-4">
            <img src="/logo.jpg" class="h-20 w-20 object-cover rounded-full" alt="logo shadow ubbs">
            <h6 class="uppercase font-bold text-[#1bbed6]">Shadow UBBS</h6>
        </div>

        <nav class="flex gap-6 items-center">
            <a href="" class="text-[#1bbed6]  ">Inicio</a>
            <a href="">Servicios</a>
            <a href="">Nosotros</a>
            <a href="">Contacto</a>
            <a href="" class="px-6 py-2 bg-[#1bbed6] rounded-lg">Comenzar Projecto </a>
        </nav>

    </div>

</header>