<header class="bg-[#131b28] text-white">
    <div class="md:px-10 mx-auto flex items-center justify-between flex-col md:flex-row  ">
        <div class="flex items-center gap-6 p-4">
            <img src="/logo.jpg" class="h-20 w-20 object-cover rounded-full" alt="logo shadow ubbs">
            <h6 class="uppercase font-bold text-[#1bbed6]">Shadow UBBS</h6>
        </div>

        <nav class="flex flex-col mb-5 gap-6 items-center md:flex-row  md:mb-0 text-lg">
            <a href="" routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="text-[#1bbed6]  "
                class="">Inicio</a>
            <a href="" routerLink="/services" routerLinkActive="text-[#1bbed6]"
                [routerLinkActiveOptions]="{exact:true}">Servicios</a>
            <a href="" routerLink="/us" routerLinkActive="text-[#1bbed6]  "
                [routerLinkActiveOptions]="{exact:true}">Nosotros</a>
            <a href="" routerLink="/portfolio" routerLinkActive="text-[#1bbed6]  "
                [routerLinkActiveOptions]="{exact:true}">Portafolio</a>
            <a href="" routerLink="/contact" routerLinkActive="text-[#1bbed6]  "
                [routerLinkActiveOptions]="{exact:true}">Contacto</a>
            <a href="" class="px-6 py-2 bg-[#1bbed6] rounded-lg">Comenzar Projecto </a>
        </nav>

    </div>

</header>