<header class="border-b-4 border-gray-200 ">
    <div class="flex justify-between items-center container mx-auto max-w-[1200px]">
        <div class="flex items-center ">
            <img src="coffe-shop.png" class="logo" alt="coffee logo">

            <nav class="flex gap-5">
                <a href="#" class="uppercase font-bold">Menú</a>
                <a href="#" class="uppercase font-bold">Rewards</a>
                <a href="#" class="uppercase font-bold">Tiendas</a>

            </nav>

        </div>


        <div class="flex gap-15 items-center">
            <p>
                <i class="fa-solid fa-location-dot mr-2 text-2xl"></i>
                <span class="font-bold">Encuentra tu tienda</span>
            </p>
            <button class="font-bold border py-2 px-8 rounded-full cursor-pointer ">Iniciar sesión</button>
            <button
                class="font-bold border py-2 px-8 rounded-full  cursor-pointer bg-black text-white">Registrate</button>

        </div>



    </div>




</header>