<header class="border-b-4 border-[#5F6F52] ">
    <!-- <div class="flex justify-between items-center container mx-auto max-w-[1200px]"> -->
    <div class="flex justify-between items-center container mx-auto flex-col px-0   md:flex-row md:px-20 ">
        <div class="flex items-center flex-col md:flex-row">
            <img src="coffe-shop.png" class="logo" alt="coffee logo">

            <nav class="flex gap-5 flex-col md:flex-row">
                <a href="#" class="uppercase font-bold text-[#4A2C2A]">Nuestro Menú</a>
                <a href="#" class="uppercase font-bold text-[#4A2C2A]">Club del Café</a>
                <a href="#" class="uppercase font-bold text-[#4A2C2A]">Encuéntranos</a>

            </nav>

        </div>


        <div class="flex items-center gap-5  flex-col  my-10 md:my-0  md:flex-row md:gap-15">
            <p class="text-[#4A2C2A]">
                <i class="fa-solid fa-location-dot mr-2 text-2xl"></i>
                <span class="font-bold">Tu cafetería más cercana</span>
            </p>
            <button
                class="font-bold border border-[#D87D4A] text-[#D87D4A] py-2 px-8 rounded-full cursor-pointer ">Ingresa</button>
            <button
                class="font-bold border py-2 px-8 rounded-full  cursor-pointer bg-[#D87D4A] text-white">Únete</button>

        </div>



    </div>




</header>