<div class="border-t-2  text-[#fff9f918]  my-10 flex flex-col  gap-5 text-xl font-bold">
    <div class="flex flex-col items-center text-white mt-5">
        <span class="text-[#2f6ae9] font-bold p-2 text-3xl">7</span>
        <span class="text-md">Proyectos desarrollados</span>
    </div>
    <div class="flex flex-col items-center text-white mt-5">
        <span class="text-[#2f6ae9] font-bold p-2 text-3xl">25</span>
        <span class="text-md">Dias operando</span>
    </div>
    <div class="flex flex-col items-center text-white mt-5">
        <span class="text-[#2f6ae9] font-bold p-2 text-3xl">100%</span>
        <span class="text-md">Proyectos funcionales</span>
    </div>


</div>