<section class="">
    <div class="container p-10  flex justify-between  mx-auto py-15 items-center flex-wrap">
        <div class="md:w-1/2">
            <h1 class="uppercase text-4xl separator font-bold text-[#000000] text-center md:text-left">Hamburguesas
                Legendarias, Sabor Inolvidable</h1>

            <p class="my-10 leading-7 text-[#000000]">En Shadow Burger Shop, cada hamburguesa es una obra maestra
                artesanal. Elaboradas con ingredientes frescos y de la más alta calidad, nuestras creaciones te llevarán
                a una experiencia de sabor inigualable. ¡Prepárate para el verdadero placer!</p>


            <div class="flex gap-4 items-center justify-center md:justify-start">
                <span class="bg-[#2d87a2] p-5 font-bold text-2xl text-[#FFFFFF]  rounded-4xl">$/12.30</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/30.10</span>

            </div>

            <div class="flex justify-center md:justify-start">
                <button class="text-white py-4 px-12 bg-[#2d87a2] my-8 rounded-full ">Comprar</button>

            </div>

        </div>
        <div class="md:w-1/2">
            <img class="response rounded-3xl" src="combo_buguer.jpg" alt="logo">

        </div>


    </div>


</section>