<section class="hero flex items-center justify-center text-white flex-col gap-10 px-5">
    <h1 class="text-white font-bold text-4xl text-center w-11/12 md:w-3/12">¡El Gol de tu Vida te Espera!</h1>

    <p class=" w-8/12 md:w-4/12 text-center text-lg">Siente la pasión del fútbol en nuestras canchas de primer nivel.
        Reserva ahora y vive una experiencia inolvidable con tu equipo. ¡El campo de juego es todo tuyo!</p>

    <button class="btn-gradient rounded-4xl px-6 py-2 ">Reservar Cancha Ahora</button>

</section>