.hero {
  background-image: url("/banner.jpg");
  object-fit: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  min-height: 60vh;
  background-color: #00000076;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rounded-btn {
  border-top-right-radius: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
