<section class="container  md:mx-auto  hero   ">
    <div class="flex flex-col justify-center  h-96  gap-2 mx-20">
        <span class="text-white uppercase text-center md:text-left">Paquetes de viajes personalizados</span>
        <h1 class="text-4xl font-bold  text-white text-center md:w-7/12">Tu proxima aventura Comienza Aqui</h1>


    </div>


    <div class="flex justify-end rounded-2xl ">

        <div class="bg-white px-2 py-3 rounded-btn">
            <button class="bg-blue-600 text-white px-8 py-2 rounded-xl cursor-pointer">Contactanos por Watsapp</button>

        </div>
    </div>
</section>