<section class=" grid   grid-cols-1 md:grid-cols-2 gap-6 container md:mx-10">
    <!-- <section class=" flex   gap-6 container mx-10"> -->
    <div class=" bg-red-200 rounded-2xl p-4 flex gap-10 items-center w-full justify-center">
        <article class="w-7/12">
            <div class="flex bg-red-400 rounded-t-2xl  gap-4 justify-between p-6 items-center">
                <i class="fa-solid fa-chart-line text-2xl bg-red-600 rounded-2xl text-white p-4"></i>
                <div class="text-white font-bold text-2xl">
                    <p>Ventas del dia</p>
                    <span class="text-end block">$0.00</span>
                </div>
            </div>

            <span class="w-full bg-white block p-2r rounded-b-2xl p-2 text-center">Generar reporte Ventas</span>
        </article>

        <i class="fa-solid fa-circle-check   bg-white p-4 text-2xl rounded-2xl h-fit"></i>

    </div>
    <div class="bg-yellow-200 rounded-2xl p-4 flex gap-10 items-center  w-full justify-center">
        <article class="w-7/12">
            <div class="flex bg-yellow-400 rounded-t-2xl  gap-4 justify-between p-6 items-center">
                <i class="fa-solid fa-wrench text-2xl bg-yellow-600 rounded-2xl text-white p-4"></i>
                <div class="text-white font-bold text-2xl">
                    <p>Reparaciones del dia</p>
                    <span class="text-end block">$0.00</span>
                </div>
            </div>

            <span class="w-full bg-white block p-2r rounded-b-2xl p-2 text-center">Generar reporte Reparaciones</span>
        </article>

        <i class="fa-solid fa-circle-check  bg-white p-4 text-2xl rounded-2xl h-fit"></i>
    </div>
    <div class="bg-blue-200 rounded-2xl p-4 flex gap-10 items-center  w-full justify-center">
        <article class="w-7/12">
            <div class="flex bg-blue-400 rounded-t-2xl  gap-4 justify-between p-6 items-center">
                <i class="fa-solid fa-cart-shopping text-2xl bg-blue-600 rounded-2xl text-white p-4"></i>
                <div class="text-white font-bold text-2xl">
                    <p>Compras del dia</p>
                    <span class="text-end block">$0.00</span>
                </div>
            </div>

            <span class="w-full bg-white block p-2r rounded-b-2xl p-2 text-center">Generar reporte Compras</span>
        </article>

        <i class="fa-solid fa-circle-check  bg-white p-4 text-2xl rounded-2xl h-fit"></i>
    </div>
    <div class="bg-green-200 rounded-2xl p-4 flex gap-10 items-center w-full justify-center">
        <article class="w-7/12">
            <div class="flex bg-green-400 rounded-t-2xl  gap-4 justify-between p-6 items-center">
                <i class="fa-solid fa-newspaper text-2xl bg-green-600 rounded-2xl text-white p-4"></i>
                <div class="text-white font-bold text-2xl">
                    <p>Total del dia</p>
                    <span class="text-end block">$0.00</span>
                </div>
            </div>

            <span class="w-full bg-white block p-2r rounded-b-2xl p-2 text-center">Generar reporte Caja</span>
        </article>

        <i class="fa-solid fa-circle-check  bg-white p-4 text-2xl rounded-2xl h-fit"></i>
    </div>



</section>