<button class="text-[#4299e1] bg-[#1a202c] px-6 py-4 rounded-4xl font-bold"><span>🚀</span> Portafolio de
    Proyectos</button>

<h1 class="text-[#e2e8f0] text-3xl text-center md:text-left md:text-5xl font-bold my-10 ">Soy <span
        class="text-[#4299e1]">Shadow</span>,
    Desarrollador Full-Stack
    <span class="text-[#4299e1]">especializado en soluciones web y móviles</span>
</h1>

<p class="text-[#e2e8f0] mb-10 text-center md:text-left text-xl">Con 18 proyectos funcionales,
    transformo ideas en realidades digitales. Mi objetivo es aportar soluciones eficientes y escalables a tu próximo
    gran proyecto.
</p>


<div class="flex gap-4 flex-col">
    <button class="bg-[#4299e1] text-[#e2e8f0] rounded-lg px-6 py-2 w-[90%]   mx-auto">Crear mi proyecto <i
            class="fa-solid fa-arrow-right"></i>
    </button>
    <button class="bg-[#2d3748] px-6 py-2 rounded-lg text-[#4299e1] font-bold w-[90%] mx-auto  ">Ver mi trabajo
    </button>
</div>

<app-stadistics />