<button class="text-[#2761cb] bg-[#1c2e50] px-6 py-4 rounded-4xl font-bold"><span>🚀</span> Emprendimiento real - 25
    dias
    operando</button>

<h1 class="text-white text-5xl font-bold my-10 ">Somos <span class="text-[#2f6ae9]">Shadow UBBS</span>, desarrolladores
    con <span class="text-[#2f6ae9]">hambre de exito</span>
</h1>

<p class="text-white mb-10">25 dias de emprendimiento, 7 proyectos funcionales. Nuestro objetivo: hacer de tu idea
    nuestro
    proximo gran logro.
</p>


<div class="flex gap-4">
    <button class="bg-[#2764e0] text-white rounded-lg px-6 py-2">Crear mi proyecto <i
            class="fa-solid fa-arrow-right"></i>
    </button>
    <button class="bg-[#203557] px-6 py-2 rounded-lg text-[#2f6ae9] font-bold">Ver nuestro trabajo </button>
</div>

<app-stadistics />