<section class="border-2 border-gray-500 p-10 rounded-xl">
    <h4 class="text-center text-2xl font-bold uppercase">Filtros</h4>
    <hr class="font-bold my-1 text-gray-300">

    <p class="font-bold text-center mt-4">Tipo de propiedad</p>
    <ul class="mt-2">
        <li>Casa</li>
        <li>Apartamento</li>
        <li>
            Finca
        </li>
    </ul>
    <hr class="font-bold my-1 text-gray-300">

    <p class="font-bold  mt-4">Tipo de oferta</p>
    <ul class="mt-2">
        <li>Venta</li>
        <li>Alquiler</li>
        <li>
            Permuta
        </li>
    </ul>
    <hr class="font-bold my-1 text-gray-300">


    <p class="font-bold  mt-4">Habitaciones</p>
    <ul class="mt-2 grid grid-cols-2 gap-2">
        <li>1</li>
        <li>4</li>
        <li>2</li>
        <li>5</li>
        <li>3</li>
        <li>+ de 5</li>
    </ul>
    <hr class="font-bold my-1 text-gray-300">
    <p class="font-bold  mt-4">Baños</p>
    <ul class="mt-2 grid grid-cols-2 gap-2">
        <li>1</li>
        <li>3</li>
        <li>2</li>
        <li>+ de 4</li>
    </ul>
    <hr class="font-bold my-1 text-gray-300">

    <button class="px-6 py-2 bg-green-800 text-white cursor-pointer my-5 mx-auto flex rounded-lg">Filtrar</button>
</section>