<section class="container px-10 mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 my-20">
    <article class="bg-gray-50 rounded-2xl p-4">
        <p class="text-blue-500  text-4xl text-center">+5</p>
        <span class="text-center block mt-2">Años de Experiencia</span>
    </article>
    <article class="bg-gray-50 rounded-2xl p-4">
        <p class="text-blue-500  text-4xl text-center">3K</p>
        <span class="text-center block mt-2">Clientes Felices</span>
    </article>
    <article class="bg-gray-50 rounded-2xl p-4">
        <p class="text-blue-500  text-4xl text-center">4.8</p>
        <span class="text-center block mt-2">Valoración de General</span>
    </article>

</section>