<section class="max-w-[1200px] mx-auto my-20">
    <h5 class="text-center font-bold text-2xl">Las mejores marcas confían en nuestra agencia de viajes para descubrir el
        mundo</h5>

    <p class="text-center mt-4">Expertos en experiencias unicas, destinos inolvidables y atención personalizada. Viaja
        seguro
        con los lideres en
        turismo 😎</p>


    <div class="grid grid-cols-5 gap-5 mt-10 items-center justify-between">
        <div>
            <img class="h-40 object-contain" src="/hotel-hidden.avif" alt="hotel 1">
        </div>
        <div>
            <img class="h-40 object-contain" src="/lorem.png" alt="hotel 2">
        </div>
        <div>
            <img class="h-40 object-contain" src="/marriot.png" alt="hotel 3">
        </div>
        <div>
            <img class="h-40 object-contain" src="/rosewood.png" alt="hotel 4">
        </div>
        <div>
            <img class="h-40 object-contain" src="/taj.png" alt="hotel 5">
        </div>


    </div>

</section>