<section class="container p-10 ">
    <div class="grid-cols-1 grid md:grid-cols-3 mx-auto gap-2">
        <article class="bg-[#5a4734] p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-cookie-bite text-4xl text-[#5a4734] "></i>
            </div>

            <h5 class="text-center text-white my-8 font-bold text-xl">Ingredientes</h5>

            <p class="text-white text-center text-md">Cada hamburguesa que servimos comienza con los mejores
                ingredientes.
                Utilizamos
                carnes 100%
                seleccionadas, libres de conservantes y procesamientos innecesarios, acompañadas de vegetales frescos y
                panes suaves, horneados especialmente para garantizar un sabor inigualable.</p>

            <button class="mt-10 text-[#5a4734] bg-[#ead9c7] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class=" p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-edit text-4xl text-[#5a4734] "></i>
            </div>

            <h5 class="text-center  my-8 font-bold text-xl text-[#5a4734]">Recetas exclusivas</h5>

            <p class="text-[#5a4734] font-normal text-center text-md">
                Nuestra pasión por la gastronomía nos inspira a crear combinaciones únicas. Cada receta ha sido
                cuidadosamente diseñada para ofrecerte sabores que no encontrarás en otro lugar. Desde nuestras
                hamburguesas clásicas hasta opciones gourmet con ingredientes espciales, siempre buscamos innovar y
                sorprenderte.
            </p>

            <button class="mt-10 bg-[#5a4734] text-white py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class=" p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-heart text-4xl text-[#5a4734] "></i>
            </div>

            <h5 class="text-center  my-8 font-bold text-xl text-[#5a4734]">Ambiente acogedor y familiar</h5>

            <p class="text-[#5a4734] font-normal  text-center text-md">
                Nuestra pasión por la gastronomía nos inspira a crear combinaciones únicas. Cada receta ha sido
                cuidadosamente diseñada para ofrecerte sabores que no encontrarás en otro lugar. Desde nuestras
                hamburguesas clásicas hasta opciones gourmet con ingredientes espciales, siempre buscamos innovar y
                sorprenderte.
            </p>

            <button class="mt-10 bg-[#5a4734] text-white py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>



    </div>


</section>