<section class="container p-10 ">
    <div class="grid-cols-1 grid md:grid-cols-3 mx-auto gap-2">
        <article class="bg-[#2d87a2] p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-cookie-bite text-4xl text-[#000000] "></i>
            </div>

            <h5 class="text-center text-white my-8 font-bold text-xl">Frescura Garantizada</h5>

            <p class="text-white text-center text-md">Cada hamburguesa comienza con ingredientes de la más alta calidad. Utilizamos carnes 100% seleccionadas, libres de conservantes, vegetales frescos y panes horneados diariamente para un sabor inigualable.</p>

            <button class="mt-10 text-[#FFFFFF] bg-[#2d87a2] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class=" p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-edit text-4xl text-[#000000] "></i>
            </div>

            <h5 class="text-center  my-8 font-bold text-xl text-[#000000]">Innovación en Cada Bocado</h5>

            <p class="text-[#000000] font-normal text-center text-md">Nuestra pasión por la gastronomía nos impulsa a crear combinaciones únicas. Cada receta ha sido diseñada para ofrecerte sabores que no encontrarás en otro lugar, desde clásicas hasta opciones gourmet.</p>

            <button class="mt-10 bg-[#2d87a2] text-white py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class=" p-10  flex flex-col justify-between rounded-lg ">
            <div class="bg-white p-5 rounded-full mx-auto  ">
                <i class="fa-solid fa-heart text-4xl text-[#000000] "></i>
            </div>

            <h5 class="text-center  my-8 font-bold text-xl text-[#000000]">Tu Lugar Favorito</h5>

            <p class="text-[#000000] font-normal  text-center text-md">Más que una hamburguesería, somos un espacio donde la buena comida se une a un ambiente cálido y familiar. Disfruta de momentos inolvidables con amigos y seres queridos mientras saboreas nuestras deliciosas creaciones.</p>

            <button class="mt-10 bg-[#2d87a2] text-white py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>



    </div>


</section>