<section class="container flex-col mx-auto flex gap-10 my-20 md:flex-row">
    <div class="md:w-6/12">
        <img src="newsletter-1.png" class="h-12/12" alt="newsletter">
    </div>
    <div class="md:w-6/12  ">
        <h5 class="font-bold uppercase text-4xl mt-5">¿Por qué elegirnos?</h5>

        <p class="my-5 text-2xl">Nuestro sistema implementa una estrategia en <span class="text-orange-600 font-bold">IA
                experta
                en
                ayudarte</span> a encontrar la propiedad ideal. </p>


        <div class="flex gap-10">
            <div class="bg-white p-4  border-gray-300 border-2 w-1/2">
                <i class="fa-solid fa-robot text-5xl w-full text-orange-600 text-center"></i>
                <p class="mt-4 text-center font-semibold    ">Descripción de propiedades con <br /> IA</p>
            </div>
            <div class="bg-white p-4  border-gray-300 border-2">
                <i class="fa-brands fa-rocketchat text-5xl w-full text-orange-600 text-center"></i>
                <p class="mt-4 text-center font-semibold    ">Chatbot para la atención al cliente</p>
            </div>

        </div>

    </div>



</section>


<section class="container mx-auto flex gap-10 my-20 flex-col md:flex-row">
    <div class="md:w-6/12 order-1">
        <img src="newsletter-2.png" class="h-12/12" alt="newsletter">
    </div>
    <div class="md:w-6/12  ">
        <h5 class="font-bold uppercase text-4xl mt-5">Disfruta consultando propiedades de manera <span
                class="text-orange-600 font-bold">
                rápida y
                fácil
            </span> </h5>

        <p class="my-5 text-2xl">Tenemos registradas propiedades en todos los rincones del mundo.</p>

        <ul class="list-disc p-2 ml-4">
            <li>Registrate es <span class="text-orange-600 font-bold uppercase">gratis </span></li>
            <li>Puedes <span class="font-bold"> registrar tu propiedad</span> y decidir como la quieres ofertar</li>
            <li>No sabes que <span class="font-bold"> descripción</span> ponerle a tu propiedad, <span
                    class="text-orange-600 font-bold ">Hazlo con IA </span> </li>
            <li><span class="font-bold"> Chatea con los agentes</span> de las propiedades que te gustan </li>
            <li><span class="font-bold"> Preguntale al chat IA</span> que propiedades hay disponibles en la zona que
                estas buscando </li>
        </ul>

    </div>



</section>


<section class="bg-orange-500 text-white p-10 ">
    <div class="max-w-[1200px] mx-auto">
        <h5 class="uppercase text-center text-5xl font-bold">Únete ahora y empieza tu futuro </h5>
        <button class="mx-auto block mt-5 bg-white text-black px-6 py-3 uppercase text-2xl cursor-pointer"
            routerLink="/propiedades">Ver
            propiedades</button>

    </div>


</section>