<section class="container px-12 mx-auto w-full grid grid-cols-1 gap-15 md:grid-cols-3 md:gap-10 mt-20 justify-center ">
    <article class="shadow-xl rounded-4xl bg-[#f8f9fa] p-10 text-center space-y-5 text-black ">
        <i class="fa-solid text-2xl fa-futbol p-4 bg-[#003366] text-[#32CD32] rounded-full text-center mx-auto "></i>

        <h2 class="text-[#003366] font-bold text-xl ">Césped Impecable, Jugadas Maestras</h2>

        <p class="text-lg">Nuestras canchas cuentan con césped de calidad profesional, mantenido para que cada pase,
            cada regate y cada gol sea una experiencia única. ¡Juega como los profesionales!</p>

    </article>
    <article class="shadow-xl rounded-4xl bg-[#f8f9fa] p-10 text-center space-y-5 text-black">
        <i class="fa-solid text-2xl fa-calendar p-4 bg-[#003366] text-[#32CD32] rounded-full text-center mx-auto "></i>

        <h2 class="text-[#003366] font-bold text-xl ">Reserva en Segundos, Juega por Horas</h2>

        <p class="text-lg">Con nuestro sistema de reserva en línea, estás a solo unos clics de asegurar tu cancha.
            Rápido, fácil y sin
            complicaciones. ¡Tu partido te espera!</p>

    </article>
    <article class="shadow-xl rounded-4xl bg-[#f8f9fa] p-10 text-center space-y-5 text-black">
        <i class="fa-solid text-2xl fa-shield p-4 bg-[#003366] text-[#32CD32] rounded-full text-center mx-auto "></i>

        <h2 class="text-[#003366] font-bold text-xl ">Tu Pasión, Nuestra Prioridad</h2>

        <p class="text-lg">Juega con la tranquilidad de saber que estás en un entorno seguro. Ofrecemos instalaciones de
            primera, con
            personal dedicado a que tu única preocupación sea disfrutar del partido.
        </p>

    </article>


</section>