<section class="container px-30 mx-auto w-full grid grid-cols-3 gap-10 mt-20 justify-center ">
    <article class="shadow-xl rounded-4xl bg-white p-10 text-center space-y-5">
        <i class="fa-solid text-2xl fa-futbol p-4 bg-blue-100 text-green-500 rounded-full text-center mx-auto "></i>

        <h2 class="text-[#173849] font-bold text-xl ">Canchas de Primera</h2>

        <p>Disfruta de nuestras canchas con superficies profesionales, perfectas para practicar cualquier tipo de
            deporte, desde fútbol hasta tenis y tenis de mesa. </p>

    </article>
    <article class="shadow-xl rounded-4xl bg-white p-10 text-center space-y-5">
        <i class="fa-solid text-2xl fa-calendar p-4 bg-blue-100 text-green-500 rounded-full text-center mx-auto "></i>

        <h2 class="text-[#173849] font-bold text-xl ">Reserva Fácil</h2>

        <p>Proceso de reserva rápido y sencillo, paga en línea y asegura tu horario preferido. </p>

    </article>
    <article class="shadow-xl rounded-4xl bg-white p-10 text-center space-y-5">
        <i class="fa-solid text-2xl fa-shield p-4 bg-blue-100 text-green-500 rounded-full text-center mx-auto "></i>

        <h2 class="text-[#173849] font-bold text-xl ">Instalaciones Seguras</h2>

        <p>Estacionamiento seguro, seguridad de personal y medidas de seguridad para garantizar tu seguridad en el
            campo.
        </p>

    </article>


</section>