<section class="grid grid-cols-1 md:grid-cols-4 max-w-[1200px] mx-auto mt-15 justify-center items-center my-10 gap-5">
    <div class="flex flex-col gap-4 items-center">
        <i class="fa-solid fa-phone text-6xl"></i>
        <span>(744) 123-4567</span>
    </div>
    <div class="flex flex-col gap-4 items-center">
        <i class="fa-brands fa-whatsapp text-6xl"></i>
        <span>(744) 123-4567</span>
    </div>
    <div class="flex flex-col gap-4 items-center">
        <i class="fa-solid fa-envelope text-6xl"></i>
        <span>test&#64;test.com </span>
    </div>
    <div class="flex flex-col gap-4 items-center">
        <i class="fa-solid fa-location-dot text-6xl"></i>
        <span> Acapulco / Mexico </span>
    </div>


</section>