<section class="container px-2 md:px-20 mx-auto mt-20 grid grid-cols-1 md:grid-cols-4 gap-5 ">
    <div class="bg-white p-10 text-center rounded-3xl">
        <h5 class="text-2xl font-bold mb-2">Registrate</h5>
        <p>Registrate en nuestra app totalmente gratis</p>
    </div>

    <div class="bg-white p-10 text-center rounded-3xl">
        <h5 class="text-2xl font-bold mb-2">Consulta</h5>
        <p>Mira todas las propiedades publicadas</p>
    </div>

    <div class="bg-white p-10 text-center rounded-3xl">
        <h5 class="text-2xl font-bold mb-2">Crea</h5>
        <p>Registra tu propiedad en pocos pasos</p>
    </div>

    <div class="bg-white p-10 text-center rounded-3xl">
        <h5 class="text-2xl font-bold mb-2">Vende</h5>
        <p>Contacto inmediatocon un comprador</p>
    </div>


</section>