<header class="bg-gray-600 text-white">
    <div class="flex w-[1200px] justify-between p-5 mx-auto items-center">
        <div class="logo-section flex items-center gap-5">
            <img src="logo.png" class="logo" alt="logo shadow real state">

            <h2>Shadow Real State</h2>

        </div>

        <nav class="flex gap-5">
            <a href="#" routerLink="/">Inicio</a>
            <a href="#" routerLink="/propiedades">Propiedades</a>
            <a href="#">Nosotros</a>
            <a href="#">Contactanos</a>
            <a href="#">Iniciar sesion</a>
            <a href="#">Registrarse</a>

        </nav>


    </div>





</header>