<header class="bg-gray-600 text-white">
    <div class="flex container md:px-20 justify-between py-5 mx-auto items-center flex-col md:flex-row  ">
        <div class="logo-section flex items-center gap-5">
            <img src="logo.png" class="logo" alt="logo shadow real state">

            <h2>Shadow Real State</h2>

        </div>

        <nav class="flex gap-5 flex-col my-5 md:flex-row md:my-0">
            <a href="#" routerLink="/">Inicio</a>
            <a href="#" routerLink="/propiedades">Propiedades</a>
            <a href="#">Nosotros</a>
            <a href="#">Contactanos</a>
            <a href="#">Iniciar sesion</a>
            <a href="#">Registrarse</a>

        </nav>


    </div>





</header>