<section class="container p-5 mt-10 bg-[#2d87a2] ">
    <div class=" flex justify-between  mx-auto py-5 items-center flex-wrap">
        <div class="md:w-5/12">
            <h2 class="text-white text-6xl font-bold text-center">¡No te quedes con el antojo!</h2>

            <p class="mt-10 text-center text-white text-lg">Suscríbete a nuestro newsletter y sé el primero en enterarte
                de nuestras promociones exclusivas, nuevos lanzamientos y eventos especiales. ¡Tu paladar te lo
                agradecerá!</p>

        </div>
        <div class="md:w-6/12">
            <img class="response rounded-3xl" src="combo_medio.jpg" alt="logo">

        </div>


    </div>


</section>