<section class="container p-5 mt-10 bg-[#5a4734] ">
    <div class=" flex justify-between  mx-auto py-5 items-center flex-wrap">
        <div class="md:w-5/12">
            <h2 class="text-white text-6xl font-bold text-center">Hamburguesas que hablan por si solas</h2>

            <p class="mt-10 text-center text-white text-lg">Cada hamburguesa quese comemos es una historia, y cada uno
                de
                nosotros nos
                hemos convertido
                en un
                escritor de historias.</p>

        </div>
        <div class="md:w-6/12">
            <img class="response" src="hamburguesa.png" alt="logo">

        </div>


    </div>


</section>