<section class="max-w-[1200px] mx-auto mt-5">
    <h2 class="text-4xl font-bold text-center">Más de mil viajeros confían en nosotros</h2>

    <div class="grid grid-cols-3 gap-30 mt-20">
        <article class="rounded-4xl p-10  article-shadow  shadow-black   ">
            <div class="flex gap-2 my-4">
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
            </div>
            <p>" La mejor desicion de viajes que he tenido en mi vida. El personal de la empresa es muy amable y atento.
                La experiencia fue muy buena y
                la empresa es muy rentable. Recomendaría a mis amigos y familiares a esta empresa. "</p>


            <div class="flex gap-3 mt-20 items-center">
                <img src="/ceo-avatar.jpeg" class="h-20 w-20 rounded-full" alt="testimonial avatar">

                <div>
                    <p>Martha González</p>
                    <span class="text-sm text-gray-400 font-semibold">Viajera frecuente</span>
                </div>
            </div>

        </article>
        <article class="rounded-4xl  article-shadow  shadow-black  p-5 bg-blue-500">
            <div class="bg-white rounded-4xl p-5">
                <div class="flex gap-2 my-4">
                    <i class="fa-solid fa-star text-blue-500"></i>
                    <i class="fa-solid fa-star text-blue-500"></i>
                    <i class="fa-solid fa-star text-blue-500"></i>
                    <i class="fa-solid fa-star text-blue-500"></i>
                    <i class="fa-solid fa-star text-blue-500"></i>
                </div>
                <p>" La mejor desicion de viajes que he tenido en mi vida. El personal de la empresa es muy amable y
                    atento.
                    La experiencia fue muy buena y
                    la empresa es muy rentable. Recomendaría a mis amigos y familiares a esta empresa. "</p>
            </div>



            <div class="flex gap-3 mt-20 items-center">
                <img src="/ceo-avatar.jpeg" class="h-20 w-20 rounded-full" alt="testimonial avatar">

                <div class="text-white">
                    <p>Carlos Ramirez</p>
                    <span class="text-sm text-white font-semibold">Viajero vip</span>
                </div>
            </div>

        </article>
        <article class="rounded-4xl  article-shadow  shadow-black  p-10 ">
            <div class="flex gap-2 my-4">
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
                <i class="fa-solid fa-star text-blue-500"></i>
            </div>
            <p>" La mejor desicion de viajes que he tenido en mi vida. El personal de la empresa es muy amable y atento.
                La experiencia fue muy buena y
                la empresa es muy rentable. Recomendaría a mis amigos y familiares a esta empresa. "</p>


            <div class="flex gap-3 mt-20 items-center">
                <img src="/ceo-avatar.jpeg" class="h-20 w-20 rounded-full" alt="testimonial avatar">

                <div>
                    <p>Fernanda Lopéz</p>
                    <span class="text-sm text-gray-400 font-semibold">Viajera reciente</span>
                </div>
            </div>

        </article>

    </div>




</section>