<!-- <main class="container mx-auto px-30 mt-20 relative"> -->
<main class="container mx-auto px-6 mt-20 w-full">
    <h1 class="text-center text-4xl font-bold text-[#003366] mx-auto ">
        Elige tu Campo de Batalla</h1>
    <div class="w-25 my-5 h-1 bg-gradient rounded-full mx-auto"></div>

    <p class="text-center text-lg">Cada una de nuestras canchas está diseñada para ofrecerte la mejor experiencia de
        fútbol. Conoce las opciones y elige la que mejor se adapte a tu estilo de juego.</p>


    <section class=" grid grid-cols-1 md:grid-cols-2 gap-5 mt-10 bg-[#f8f9fa] rounded-4xl text-black">

        <div class="rounded-bl-4xl rounded-tl-4xl  overflow-hidden bg-red-500 relative ">
            <img src="/cancha.png" alt="cancha" class="h-full ">
            <span class="absolute text-xl  top-2 right-2 bg-gradient px-6 py-2 rounded-4xl text-white font-bold">
                $250.00/hora
            </span>
            <span class="absolute  top-18 right-2  px-6 py-2 rounded-4xl text-white font-bold bg-black">
                <i class="fa-solid fa-layer-group"></i>
                Cesped Natural
            </span>

        </div>
        <div class=" p-8">
            <h1 class=" text-4xl font-bold text-[#003366] mx-auto ">
                La Catedral del Gol</h1>
            <div class="w-25 my-5 h-1 bg-gradient rounded-full "></div>


            <span class="rounded-4xl p-4 font-bold bg-[#003366] text-[#32CD32] block grow-1">
                <i class="fa-solid fa-circle-check mr-2"></i>
                Disponible para reservar
            </span>

            <p class="my-15 text-lg">
                Perfecta para partidos intensos y jugadas memorables. Su amplio espacio y césped de primera te
                permitirán desplegar tu mejor fútbol. ¡Aquí nacerán las leyendas!
            </p>

            <div class="flex gap-10 flex-col md:flex-row">
                <div class="flex items-center gap-2">
                    <i class="fa-solid fa-layer-group"></i>
                    <p>Superficie: <span class="font-bold">Césped Natural</span> </p>
                </div>
                <div class="flex items-center gap-2">
                    <i class="fa-solid fa-tag"></i>
                    <p>Precio: <span class="font-bold">$250.00/hora</span> </p>
                </div>

            </div>
            <button
                class="shadow-2xl drop-shadow-2xl border mt-10 cursor-pointer rounded-4xl px-6 py-2 bg-[#32CD32] text-[#003366] "
                (click)="openModal()">
                <i class="fa-solid fa-clock"></i>
                Ver horarios </button>

        </div>


    </section>

    <app-schedule />
</main>