<main class="container p-10 ">
    <h3 class="text-5xl text-center font-bold text-[#000000] my-10">Los mas pedidos</h3>

    <p class="md:w-2xl text-center mx-auto mb-10 text-[#000000]">
        El mejor combo para ti, el mejor precio para ti. Precios pensados para que no te pierdas de una experiencia
        culinaria unica 🤤. <br>
        <span class="text-[#000000] font-bold text-xl">¡Descubre el mejor combo!</span>

    </p>

    <div class=" grid-cols-1 grid md:grid-cols-3 mx-auto gap-5">
        <article class="bg-[#FFFFFF] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="combo_pobre.jpg" class=" mx-auto image w-100" alt="promocion de hamburguesa Clasica Delux">


            <span class="text-[#000000] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#000000] my-2 font-bold text-xl">paquete alcance </h6>

            <p class="text-[#000000]   text-md">La perfección en cada mordisco: carne jugosa, queso derretido, vegetales
                frescos y nuestra salsa secreta que te hará volver por más.</p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#000000] text-3xl  ">$/18.50</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/33.70</span>

            </div>


            <button class="mt-10 bg-[#2d87a2]  text-[#FFFFFF] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class="bg-[#FFFFFF] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="combo_medio.jpg" class=" mx-auto image" alt="promocion de hamburguesa Vegana Delux">


            <span class="text-[#000000] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#000000] my-2 font-bold text-xl">Paquete clase media </h6>

            <p class="text-[#000000]   text-md">Una explosión de sabor vegano: jugoso medallón de lentejas o garbanzos,
                aguacate cremoso, lechuga fresca, tomate y una mayonesa vegana de hierbas que te sorprenderá.</p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#000000] text-3xl  ">$/20.50</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/35.60</span>

            </div>


            <button class="mt-10 bg-[#2d87a2]  text-[#FFFFFF] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class="bg-[#FFFFFF] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="hamburguesa-3.webp" class=" mx-auto image" alt="promocion de hamburguesa BBQ Supreme">


            <span class="text-[#000000] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#000000] my-2 font-bold text-xl">BBQ Suprema</h6>

            <p class="text-[#000000]   text-md">La reina de la parrilla: carne a la parrilla bañada en nuestra salsa BBQ
                ahumada, tocino crujiente, queso cheddar fundido y aros de cebolla dorados. ¡Una experiencia
                inigualable!</p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#000000] text-3xl  ">$/22.50</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/37.80</span>

            </div>


            <button class="mt-10 bg-[#2d87a2]  text-[#FFFFFF] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>



    </div>


</main>