<main class="container p-10 ">
    <h3 class="text-5xl text-center font-bold text-[#5a4734] my-10">Los mas pedidos</h3>

    <p class="w-2xl text-center mx-auto mb-10">
        orem ipsum dolor sit amet, consectetur adipisicing elit. Maiores odit ipsa velit magni sed molestias quaerat.
        Amet

    </p>

    <div class="w-[1200px] grid grid-cols-3 mx-auto gap-5">
        <article class="bg-[#f9f0e8] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="hamburguesa-1.webp" class=" mx-auto image" alt="promocion de hamburguesa Clasica Delux">


            <span class="text-[#5a4734] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#5a4734] my-2 font-bold text-xl">Clasica Delux</h6>

            <p class="text-[#5a4734]   text-md">La combinación perfecta de carne jugosa, queso derretido,
                vegetales frescos y nuestra salsa especial.
            </p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#5a4734] text-3xl  ">$/17.90</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/23.90</span>

            </div>


            <button class="mt-10 bg-[#5a4734]  text-[#ead9c7] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class="bg-[#f9f0e8] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="hamburguesa-2.webp" class=" mx-auto image" alt="promocion de hamburguesa Vegana Delux">


            <span class="text-[#5a4734] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#5a4734] my-2 font-bold text-xl">Vegana Delux</h6>

            <p class="text-[#5a4734]   text-md">Hamburguesa vegana hecha con un jugoso medallon de lentejas o grabanzos,
                aguacate, lechuga, tomate y una mayonesa vegana de hierbas.
            </p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#5a4734] text-3xl  ">$/17.90</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/23.90</span>

            </div>


            <button class="mt-10 bg-[#5a4734]  text-[#ead9c7] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>

        <article class="bg-[#f9f0e8] p-10  flex flex-col justify-between rounded-4xl relative">
            <img src="hamburguesa-3.webp" class=" mx-auto image" alt="promocion de hamburguesa BBQ Supreme">


            <span class="text-[#5a4734] mt-5 font-bold">Descuento</span>
            <h6 class=" text-[#5a4734] my-2 font-bold text-xl">BBQ Supreme</h6>

            <p class="text-[#5a4734]   text-md">Carne a la parrilla, bañada en salsa BBQ ahumada, tocino crujiente,
                queso chedar y aros de cebolla dorados.
            </p>

            <div class="flex gap-5 mt-10 items-center">
                <span class="font-bold text-[#5a4734] text-3xl  ">$/17.90</span>
                <span class="text-md font-bold line-through text-[#bdafa3]">$/23.90</span>

            </div>


            <button class="mt-10 bg-[#5a4734]  text-[#ead9c7] py-4 px-6 rounded-full">Pedir hamburguesa</button>

        </article>



    </div>


</main>