<section>
    <div class="flex bg-[#2f6ae9] items-center gap-4 text-white rounded-t-2xl p-6 justify-between">
        <div class="flex gap-4 items-center">
            <i class="fa-solid fa-comments text-2xl"></i>
            <div class="text-white self-start">
                <h4>Asistente Shadow UBBS</h4>
                <span>En linea</span>
            </div>
        </div>

        <i class="fa-solid fa-circle-xmark text-2xl "></i>
    </div>
    <div class="bg-gray-200 rounded-b-2xl p-6">
        <div class="flex items-end flex-col">
            <span class="justify-end w-fit bg-[#2f6ae9] text-white p-4 rounded-lg">Hola</span>
            <span class="text-sm text-gray-300 font-bold mt-1">19:29</span>
        </div>

        <div class="flex flex-col w-8/12">
            <span class=" p-4 rounded-lg bg-white ">¡Hola! 😊 Estoy aqui para asistirte con cualquier pregunta o
                informacion que necesites sobre Shadow UBBS. ¿como puedo ayudarte hoy? </span>
            <span class="text-sm text-gray-300 font-bold mt-1 self-end ">19:29</span>
        </div>

        <div class="bg-white w-full rounded-4xl">
            <div class="flex  items-center gap-4 w-full p-4">
                <input type="text" placeholder="Escribe tu mensaje" class="bg-gray-50 rounded-lg p-3 w-full " />
                <i class="fa-solid fa-paper-plane bg-gray-200 text-center block rounded-full p-4 text-white"></i>

            </div>

        </div>

    </div>

</section>