<section class="p-5">
    <div class="flex bg-[#4299e1] items-center gap-4 text-[#e2e8f0] rounded-t-2xl p-6 justify-between">
        <div class="flex gap-4 items-center">
            <i class="fa-solid fa-comments text-2xl"></i>
            <div class="text-[#e2e8f0] self-start">
                <h4>Asistente Shadow </h4>
                <span>En linea</span>
            </div>
        </div>

        <i class="fa-solid fa-circle-xmark text-2xl "></i>
    </div>
    <div class="bg-[#2d3748] rounded-b-2xl p-6">
        <div class="flex items-end flex-col">
            <span class="justify-end w-fit bg-[#4299e1] text-[#e2e8f0] p-4 rounded-lg">Hola</span>
            <span class="text-sm text-[#a0aec0] font-bold mt-1">19:29</span>
        </div>

        <div class="flex flex-col w-8/12">
            <span class=" p-4 rounded-lg bg-[#e2e8f0] text-[#1a202c]">¡Hola! 😊 Estoy aqui para asistirte con cualquier pregunta o
                informacion que necesites sobre Shadow. ¿como puedo ayudarte hoy? </span>
            <span class="text-sm text-[#a0aec0] font-bold mt-1 self-end ">19:29</span>
        </div>

        <div class="bg-[#e2e8f0] w-full rounded-4xl">
            <div class="flex  items-center gap-4 w-full p-4">
                <input type="text" placeholder="Escribe tu mensaje" class="bg-[#cbd5e0] rounded-lg p-3 w-full " />
                <i class="fa-solid fa-paper-plane bg-[#4299e1] text-center block rounded-full p-4 text-[#e2e8f0]"></i>

            </div>

        </div>

    </div>

</section>